head
	title Spotify Jukebox
	link(href='/stylesheets/css/materialize.min.css' rel='stylesheet')
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	meta(name="keywords" content="jukebox, spotify, playlist")
	meta(name="description" content="A central jukebox for parties")
	meta(name="author" content="Ineke Scheffers, github.com/InekeScheffers")