html
	include includes/header.pug

	body#jukebox
		div.container
			div
				div#owner-jukebox
					h2 Welcome to the jukebox of #{user_name}
				div#player
					iframe(src="" + jukebox_url width="1000" height="300" frameborder="0" allowtransparency="true"
					id="spotify_player")

					//- input field with static data for now to add a track
					//- input(id ="track_id" name="track_id" value="7r8Yc8CBLuk18OJ89u5ou8")
					//- button.btn.btn-primary#add-track Add track
				//- destroys session and deletes user from database, route: logout.js
				div#logout
					a.btn.btn-primary(href="/logout") End jukebox
				div#remote-url
					h2 Put another dime in the jukebox, baby
					h4 Follow this link on your device to add a track to this jukebox
					a(href="/add-track/" + user_id target="_blank") 
						span#origin 
						span /add-track/#{user_id}


		include includes/footer.pug
