html
	include includes/header.pug

	body
		div.container
			div#login
				h1 Welcome to Spotify Jukebox
				a.btn.btn-primary(href="/login") Log in with Spotify
				//- message when logged in failed, or when successfully logged out
				h5#errormessage=message

		include includes/footer.pug
