html
	include includes/header.pug

	body#login
		div.container
			div
				h1 YOUR OWN JUKEBOX
				a.btn.btn-success.icon-spotify(href="/login")
					span Log in to Spotify
				//- message when logged in failed, or when successfully logged out
				h4#errormessage=message

		include includes/footer.pug
