html
	include includes/header.pug

	body
		div.container
			div#login
				h1 This is an example of the Authorization Code flow
				a.btn.btn-primary(href="/login") Log in with Spotify
			div#loggedin
				div#user-profile
				div#oauth
				button.btn.btn-default#obtain-new-token Obtain new token using the refresh token

		include includes/footer.pug
