body#index {
	// because of bug in webpack have to copy paste the h1 neon effect on all pages i need it
	h1 {
		font-size: 70px;
		letter-spacing: 10px;
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;

		-webkit-animation: neon 1.5s;
		-moz-animation: neon 1.5s;
		animation: neon 1.5s;
	}

	// neon-sign flickering
	@-webkit-keyframes neon {
		0%,58.999%,61%,85.999%,96%,100% {
			text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;;
		}
		59%,60.999%,86%,95.999% { 
			text-shadow: none; 
		}
	}

	.panel {
		width: 633px;
		background-color: $spotify-color;
		box-shadow: 5px 5px 5px #181818 !important;
		border: 0px;
		margin: 0 auto;

		img {
			margin: 5px;
		}

		.dl-horizontal {
			margin-bottom: 0px;
			text-align: right;

			form {
				margin-top: 5px;

				select, input {
					width: 250px;
					border-radius: 5px;
					height: 26px;
				}

				button {
					width: 140px;
					margin-left: 15px;
					margin-top: 5px;
					margin-bottom: 5px;
				}
			}

			form#choose-form {
				margin-bottom: 20px;
			}
		}

		.panel-footer {
			text-align: right;
			background-color: #282828;
			border-top-color: #FF1177;
		}
	}

	@media screen and (max-width: 700px) {
		h1 {
			font-size: 30px;
			letter-spacing: 3px;
		}

		.panel {
			width: 275px;

			.pull-left {
				float: none !important;

				img {
					display: block !important;
					margin-left: auto !important;
					margin-right: auto !important;
				}
			}

			.dl-horizontal {
				text-align: center;

				button {
					margin-left: 0px !important;
				}
			}

		}
	}

}