body#login {
	// because of bug in webpack have to copy paste the h1 neon effect on all pages i need it
	h1 {
		font-size: 70px;
		letter-spacing: 10px;
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;

		-webkit-animation: neon 1.5s;
		-moz-animation: neon 1.5s;
		animation: neon 1.5s;
	}

	// neon-sign flickering
	@-webkit-keyframes neon {
		0%,58.999%,61%,85.999%,96%,100% {
			text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;;
		}
		59%,60.999%,86%,95.999% { 
			text-shadow: none; 
		}
	}

	h4#message {
		color: white;
		margin-top: 10px;
	}

	@media screen and (max-width: 700px) {
		h1 {
			font-size: 40px;
			letter-spacing: 3px;
		}
	}
}