body#remote {
	// because of bug in webpack have to copy paste the h1 neon effect on all pages i need it
	h1 {
		margin-bottom: 20px;
		-webkit-transition: all 3s;
		-moz-transition: all 3s;
		transition: all 3s;

		-webkit-animation: neon1 1.5s ease-in-out infinite alternate;
		-moz-animation: neon1 1.5s ease-in-out infinite alternate;
		animation: neon1 1.5s ease-in-out infinite alternate;
	}

	@-webkit-keyframes neon1 {
		from {
			text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
		}
		to {
			text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
		}
	}

	.panel {
		width: 400px;

		.btn-success {
			border-radius: 50%;
			width: 28px;
			height: 28px;
			margin-bottom: 5px;
			padding-top: 4px;
			padding-right: 4px;
			padding-bottom: 6px;
			padding-left: 6px;
		}

		.panel-footer {
			text-align: left;

			ul {
				color: white;
				padding: 10px;
				margin-bottom: 0px;
			}
		}
	}

	p {
		color: white;
	}
}