// css for variables
@font-face {
	font-family: Monoton;
	src: url(/stylesheets/fonts/Monoton-Regular.ttf);
}

//global variables
$title-font: Monoton;
$spotify-color: #181818;

// Include other sass modules here:
@import 'login';
@import 'index';
@import 'jukebox';
@import 'remote';

// Global scss
body {
	background-color: #a4e4a4;
	// to vertically center, materialize sticky footer trick
	display: flex;
	min-height: 100vh;
	flex-direction: column;

	background: radial-gradient(rgba(0,0,0,0),rgba(0,0,0,1)), url("/images/jukebox2.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;

	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex: 1 0 auto;
		text-align: center;

		.btn-success {
			border-radius:23px;
		}

		.icon-spotify {
			padding-left: 11px;

			span{
				background: url("/images/spotify.png") no-repeat 0 -4px;
				padding-left: 20px;
				background-size: 14px 14px;
				background-position: 0px center;
			}
		}
	}
}

h1, h2 {
	font-family: $title-font;
	color: white;
}

.panel {
	width: 633px;
	background-color: $spotify-color;
	box-shadow: 5px 5px 5px #181818 !important;
	border: 0px;
	margin: 0 auto;

	.panel-footer {
		text-align: right;
		background-color: #282828;
		border-top-color: #FF1177;
	}
}